.reviews-list {
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.review-list-h2 {
    margin-top: 30px;
    text-align: center;
}

.review {
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.review-line {
    display: flex;
    font-weight: 600;
    margin: 0;
}

.review-author {
    padding-left: 14px;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.review-rating {
    padding-right: 7px;
    margin: 0;
}

.review-horizontal {
    background-color: rgb(232, 232, 232);
    height: 1px;
    width: 100%;
    border-radius: 100px;
    margin-top: 7px;
    margin-bottom: 14px;
}
.review-horizontal-2 {
    background-color: rgb(232, 232, 232);
    height: 1px;
    width: 100%;
    border-radius: 100px;
    margin-top: 14px;
    margin-bottom: 7px;
}


.review-review {
    padding-left: 14px;
    margin: 0;
}

.review-date {
    padding-left: 14px;
    margin: 0;
}